@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Russo+One&display=swap');

h1{
    font-family: Roboto;
    margin-top: 40px;
}

.items-container{
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 40px 0;
    width: 80%;
    margin: auto;
}

.cart-item{
    $container-height: 30vh;
    width: 100%;
    height: $container-height;
    // display: flex;
    display: grid;
    grid-template-columns: .4fr 1fr;
    border: 2px solid #000;
    img{
        justify-self: center;
        height: $container-height;
        width: auto;
    }
}

.tool-menu{
    display: flex;
    gap: 20px;
    .tool{
        cursor: pointer;
    }
}

.info{
    position: relative;
}

.item-title{
    font-family: Russo One;
    font-weight: 500;
    font-size: 27px;
    margin-top: 20px;
}

.item-total-price{
    font-family: Russo One;
    font-family: 300;
    font-size: 22px;
    margin-top: 20px;
}

.delete-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 29px;
    background: none;
    border: none;
    cursor: pointer;
    transition: .5s ease;
    &:hover{
        transform: scale(.92);
    }
}

.empty-cart-text{
    font-size: 17px;
    margin-top: 10vh;
    margin-left: 10%;
}

.link-btn{
    align-self: flex-end;
}

.place-an-order-btn{
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #000;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 15px;
    font-family: Russo One;
    font-weight: 300;
    transition: .5s ease;
    a{
        color: #000;
        text-decoration: none;
    }
    &:hover{
        transform: scale(.98);    
    }
}

.total-price-text{
    font-size: 20px;
    font-family: Russo One;
}